---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>This is the homepage</h1>
		<span>description about the homepage</span>
		<a href="/about" rel="prefetch-intent">About</a>
	</main>
</Layout>