---
import Layout from '../layouts/Layout.astro';
import {Navbar} from "../components/navbar"
import { Button, Title } from '@things/ui';
---

<Layout title="thingsSuite | Home">
  <Navbar />
	<main>
    <Title>404 Not found</Title>
    <a href="/">
      <Button variant="link" asChild>Navigate back</Button>
    </a>
	</main>
</Layout>